@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Orbitron:wght@400..900&display=swap');

:root{
    --vermelho: #1f0404;
    --branco: #FFFFFF;
    --ativo: #120202;
    --desativado:#0e0101;

}

body{
    background-color: #000000;
    color: #FFFFFF;
}

h1{
    color: var(--branco);
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

span{
    color: #1889da;
    font-family: "Lobster", sans-serif;
    font-size: 50px;
}

.botao {
    font-family: "Lobster", sans-serif;
    background-color: var(--desativado);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 300px;
    border-bottom: 4px solid var(--ativo); 
    border-left: 2px solid var(--desativado); 
    border-right: 2px solid var(--ativo); 
    border-top: none;
    opacity: 50%;

}


.botao:first-child{
    border-radius: 40px 0 0 0;
}

.botao:last-child{
    border-radius: 0 40px 0 0;
}

.botao.ativo{
    opacity: 100%;
    border-bottom: 4px solid var(--vermelho);
}
.abas-conteudo.ativo{
    display: block;
}

.abas-conteudo{
display: none;
}

.abas-textos{
    background-color: #000000;
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo-titulo1{
    font-size: 28px;
    text-align: center;
    font-family: "Lobster", sans-serif;
    letter-spacing: 3px;
}

.aba-conteudo-titulo2{
    text-align: center;
    color: var(--vermelho);
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;
}

.contador{
    display: flex;
    justify-content: center;
    font-family: "Lobster", sans-serif;
    flex-wrap: wrap;
}

.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero{
    font-size: 80px;
    margin: 0;
}

.contador-digito-texto{
    color: var(--vermelho);
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    margin: 0;
}


@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }

    .botao:first-child{
        border-radius: 40px 0 0 0;
    }

    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
